* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#header {
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.2)
}

#header .item {
  text-align: center;
  color: #333;
  line-height: 60px;
  padding: 0 25px;
}

#header .item:hover {
  color: #abcdef;
}